<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h1>esCalc</h1>
  </div>
</md-toolbar>

<div layout="row" flex layout-fill>
  <div flex id="ec-ace-editor" class="md-margin"></div><!-- Ace Editor -->
  <div flex class="md-whiteframe-z2 md-margin">
    <md-content flex>
      <md-list>
        <md-subheader class="md-no-sticky" ng-repeat-start="resultSet in main.resultSets">ResultSet #{{$index+1}}</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="result in resultSet.results">
          <div class="md-list-item-text">
            <h3>{{ result.input }}</h3>
            <p>{{ result.output }}</p>
          </div>
        </md-list-item>
        <md-divider ng-repeat-end ng-if="!$last"></md-divider>
      </md-list>
    </md-content>
  </div>
</div>
